*.csv
*.css
*.html
*.xml
*.txt
*.rst
*.min.js
*.built.js
*.bundle.js
*.js.fixed
*.js.map
*.css.map
*.min.js.map
*.min.css.map
*.log
*.mint
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.gz
*.pdf
*.bbl

.DS_Store

viewer.js
object_hash.js

_*